<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="form">
        <form action="/" method="post">
            <div class="form-head">
                <h1 class="form-head_title">
                    <%= kindOfDay %>
                </h1>
            </div>
            <div class="form-body">
                <ul>
                    <% for(i=0;i<items.length; i++){ %>
                        <li>
                            <%= items[i] %>
                        </li>
                        <% } %>

                </ul>
                <div class="form-body_new-item">
                    <input type="text" name="todo" id="todo" placeholder="Enter task" required>
                    <button type="submit">Add task</button>

                </div>
            </div>
        </form>

    </div>

</body>


</html>